.about-container {
  font-family: "Poppins", sans-serif;
  padding: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
}
.about-img {
  width: 50%;
}
.about {
		margin:auto;
}
.about-header{
		letter-spacing:4px;
		padding-bottom:2rem;
}
#span-hey {
  font-size: 22px;
  font-weight: bolder;
  color: #d0a854;
}
.about-para  {
  font-size: 20px;
  padding-top: 1rem;
  width: 500px;
  line-height: 137%;
  letter-spacing: 2.5px;
  padding-bottom:4rem;
}
.about-name {
  padding-left: 0.25em;
  display: inline-block;
}
.about-name > span:after {
  transform: translateY(-150%);
  content: "";
  display: block;
  background: #d0a854 0.5rem 2rem;
  width: 100%;
  height: 3px;
}

.about > a{
		text-decoration:none;
		color:#d0a854;
		padding: 0.7rem 2rem 0.7rem 2rem  ;
		letter-spacing:1.8px;
		background-color:black;
		transition:0.3s;
}
.about>a:hover{
	color:white;	
}
.about-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

