.contact-container{
  font-family: "poppins", sans-serif;
  padding: 5rem 7rem 5rem 7rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;

}
.contactme{
		display:flex;
		flex-direction:column;
		gap:3rem;
}
.contactme-header{
		font-size:36px;
		font-weight:600;
		letter-spacing:2px;
		padding-bottom:2rem;
}
.contactinput-container{
		flex-grow:1;
		display:grid;
		justify-items:center;
}
.contactinput {
		width:100%;
		margin:auto;
		max-width:700px; display:flex;
		flex-direction:column;
}
.input-group{
		display:flex;
		flex-direction:column;

}
input{
		font:'Poppins',sans-serif;
		font-weight:light;
		letter-spacing:1px;
		font-size:20px;
		padding:0.5rem;
		margin-bottom:2rem;
}
input:focus{
		outline-color: #d0a854;

}
input:focus + label{
		color:#d0a854;
}
textarea{
		font-size:20px;
		letter-spacing:1px;
		font-family:'Poppins',sans-serif;
		padding:0.5rem;

}
label{
		font:'Roboto',sans-serif;
		font-weight:500;
		font-size:20px;
		padding-bottom:10px;
		letter-spacing:1px;

}
.contactinput-container > form{
		width:100%;

}
.submit-button:hover{
		cursor:pointer;
		background-color:#d0a854;
		font-weight:bolder;
		color:white;
}
.submit-button{
		outline:none;
		border:none;
		margin-top:2rem;
		padding-top:0.7rem;
		padding-bottom:0.7rem;
		font-size:16px;
		background-color:#101112;
		color:#d0a854;
		width:150px;
}
textarea:focus{
		outline-color:#d0a854;
}
