<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tarique Nasar</title>
		{% load static %}
    <script src="https://kit.fontawesome.com/e8ff83bdae.js" crossorigin="anonymous"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'frontend/favicon.ico' %}"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
		<div id="app">
		</div>
		<script src="{% static "frontend/main.js" %}" type="application/javascript"></script>
</body>
</html>
